TELEGRAM_TOKEN=your-telegram-bot-token
FULLNODE_WS=node.mainnet.alephium.org
FULLNODE_API=https://node.mainnet.alephium.org
EXPLORER_API=https://backend.mainnet.alephium.org
EXPLORER_URL=https://explorer.alephium.org
TOKEN_LIST_URL=https://raw.githubusercontent.com/alephium/token-list/refs/heads/master/tokens/mainnet.json
REDIS_URL=redis://localhost:6379
VERBOSE_LOGS=false
